@charset "UTF-8";
.message {
    background-color: rgba(51, 51, 51, 0.4);
    padding: 0.5rem;
    margin: 0;
    width: 100%;
    height: 60px;
    top: 0;
    position: fixed;
    display: flex;
    z-index: 99;
    display: none;
}

.message .message-left {
    width: 55%;
    left: 0;
    background-color: aquamarine
}

.message .message-right {
    width: 35%;
    right: 0;
    background-color: blueviolet
}